*{font-family:Lato,sans-serif;color:#ffffff;}
.slides{position:relative;z-index:8;width:1560px;height:780px;}
.slide{width:1560px;height:780px;-webkit-transition:-webkit-transform 0.8s ease-in-out,opacity 0.8s ease-in-out;-moz-transition:-moz-transform 0.8s ease-in-out,opacity 0.8s ease-in-out;-webkit-box-orient:vertical;-moz-box-orient:vertical;box-orient:vertical;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;overflow:hidden;display:none;position:absolute;}.slide img{width:100%;height:100%;margin:5px;}
.slide.previous{z-index:7;visibility:visible;display:block;opacity:0;-moz-transform:translateX(-3720px);-o-transform:translateX(-3720px);-webkit-transform:translateX(-3720px);}
.slide.current{z-index:9;visibility:visible;display:block;opacity:1;-moz-transform:translateX(0px);-o-transform:translateX(0px);-webkit-transform:translateX(0px);}
.slide.next{z-index:8;visibility:visible;display:block;opacity:1;-moz-transform:translateX(1860px);-o-transform:translateX(1860px);-webkit-transform:translateX(1860px);}
.slide.waiting{z-index:7;visibility:visible;display:block;opacity:0;-moz-transform:translateX(3720px);-o-transform:translateX(3720px);-webkit-transform:translateX(3720px);}
.icon{position:relative;top:50%;margin-left:120px;margin-top:-225px;width:450px;height:450px;float:left;}.icon img{width:450px;height:450px;}
.widget-content2{position:relative;width:900px;top:15%;margin-left:auto;margin-top:60px;margin-right:60px;margin-bottom:60px;text-align:center;vertical-align:middle;}.widget-content2 h1{font-size:180px;}
.widget-content2 h2{font-size:70px;font-weight:bold;}
.widget-content3{position:relative;width:1680px;top:15%;margin-left:auto;margin-top:60px;margin-right:60px;margin-bottom:60px;text-align:center;vertical-align:middle;}.widget-content3 h1{font-size:180px;}
.widget-content3 h2{font-size:70px;font-weight:bold;}
#time{background:#dab01c;}
#weather{background:#0b9444;}
#nextbus{background:#bf1e2e;}
body{background-color:#f7f7f7;overflow:hidden;}
h1,h2,h3,h4,h5,h6{display:inline;}
#flex-container{width:100%;height:100%;margin:0;padding:0;display:-webkit-box;display:-moz-box;display:box;-webkit-box-pack:center;-moz-box-pack:center;box-pack:center;-webkit-box-align:center;-moz-box-align:center;box-align:center;}
#title{top:50%;left:50%;margin-left:-780px;margin-top:-540px;position:absolute;}
.panel1{width:750px;height:750px;margin:15px;float:left;}
.panel2{width:1530px;height:750px;margin:15px;float:left;}
.panel3{width:2310px;height:750px;margin:15px;float:left;}
