#flex-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}

.slides {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  z-index: 8;
  width: 1380px;
  height: 460px;
}

.presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
}

.slide {
  width: 1380px;
  height: 460px;

  -webkit-transition: -webkit-transform 0.8s ease-in-out, opacity 1.2s ease-in-out;
  -moz-transition: -moz-transform 0.8s ease-in-out, opacity 1.2s ease-in-out;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  display: none;
  position: absolute;
}

.slide img {
  max-width: 1380px;
  max-height: 460px;
  margin:      5px;
}

#title {
  top: 50%;
  left: 50%;
  margin-top: -340px;
  margin-left: -685px;
  position: absolute;
}

.slide.far-past {
  z-index: 8;
  visibility: visible;
  display: block;
  opacity: 0;
  -webkit-transform:	translateX(-3200px);
  -moz-transform:		translateX(-3200px);
  -o-transform:			translateX(-3200px);
  -webkit-transform:	translateX(-3200px);
}

.slide.past {
  z-index: 7;
  visibility: visible;
  display: block;
  opacity: 0;
  -webkit-transform:	translateX(-1600px);
  -moz-transform:		translateX(-1600px);
  -o-transform:			translateX(-1600px);
  -webkit-transform:	translateX(-1600px);
}
.slide.current {
  z-index: 9;
  visibility: visible;
  display: block;
  opacity: 1;
  -webkit-transform:	translateX(0px);
  -moz-transform:		translateX(0px);
  -o-transform:			translateX(0px);
  -webkit-transform:	translateX(0px);
}
.slide.future {
  z-index: 8;
  visibility: visible;
  display: block;
  opacity: 1;
  -webkit-transform:	translateX(1600px);
  -moz-transform:		translateX(1600px);
  -o-transform:			translateX(1600px);
  -webkit-transform:	translateX(1600px);
}

.slide.far-future {
  z-index: 7;
  visibility: visible;
  display: block;
  opacity: 0;
  -webkit-transform:	translateX(3200px);
  -moz-transform:		translateX(3200px);
  -o-transform:			translateX(3200px);
  -webkit-transform:	translateX(3200px);
}

