#clock{width:150px;height:150px;}#clock .hour-hand{width:150px;height:150px;position:relative;top:0px;left:0px;}#clock .hour-hand img{width:150px;height:150px;}
#clock .minute-hand{width:150px;height:150px;position:relative;top:-150px;left:0px;}#clock .minute-hand img{width:150px;height:150px;}
