#clock {
  width: 450px;
  height: 450px;
}
#clock .hour-hand {
  width: 450px;
  height: 450px;
  position: relative;
  top: 0px;
  left: 0px;
}
#clock .hour-hand img {
  width: 450px;
  height: 450px;
}
#clock .minute-hand {
  width: 450px;
  height: 450px;
  position: relative;
  top: -450px;
  left: 0px;
}
#clock .minute-hand img {
  width: 450px;
  height: 450px;
}
