@white:				#ffffff;
@blue:				#25aae2;
@red:				#bf1e2e;
@green:				#0b9444;
@yellow:			#ecc32f;

@temp-color:		rgba(255,255,255,0);

@block-size:		220px;
@block-spacing:		5px;

@icon-size:		150px;
@widget-spacing:	10px;

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light.eot");
  src: local("☺"),
    url("../fonts/OpenSans-Light.woff") format("woff")
}

* {
  font-family:		"Open Sans Light";
  color:			@white;
}

body {
	background:		url('../img/bg.png');
	overflow:		hidden;
}

h1,h2,h3,h4,h5,h6 {
	display:		inline;
}

@wrapper-width:		@block-size * 6 + @block-spacing * 6;
@wrapper-height:	@block-size *2 + @block-spacing * 2;

#wrapper {
	position:		fixed;
	width:			@wrapper-width;
	height:			@wrapper-height;
	top:			50%;
	left:			50%;
	margin-top:		-@wrapper-height / 2;
	margin-left:	-@wrapper-width / 2;
}

.panel( @size ) {
	width:			@block-size * @size + @block-spacing * ( @size - 1 );
	height:			@block-size;
	margin:			@block-spacing / 2;
	float:			left;
}

.panel1	{ .panel( 1 ); }

.panel2	{ .panel( 2 ); }

.panel3	{ .panel( 3 ); }

.widget( @color ) {
	background:		@color;
}

.icon {
	position:		relative;
	top:			50%;
	margin-left:	@widget-spacing;
	margin-top:		-@icon-size / 2;
	width:			@icon-size;
	height:			@icon-size;
	float:			left;
	background:		@temp-color;
	img {
	    width: @icon-size;
	    height: @icon-size;
	}
}

.widget-content( @size ) {
	position:		relative;
	width: 			@block-size * @size + @block-spacing * ( @size - 1 ) - @icon-size - @widget-spacing * 3;
	// height: 		@block-size - @widget-spacing * 2;
	top:			10%;	
	margin-left:	auto;
	margin-top:		@widget-spacing;
	margin-right:	@widget-spacing;
	margin-bottom:	@widget-spacing;
	background:		@temp-color;
	text-align:		left;
	vertical-align: middle;

	h1 {
		font-size: 80px;
	}
	h2 {
		font-size: 26px;
		font-weight:bold;
	}
}

.widget-content2 { .widget-content( 2 ); }

.widget-content3 { .widget-content( 3 ); }

#time		{ .widget( @blue ); }

#weather	{ .widget( @green ); }

#nextbus 	{ .widget( @red ); }

#stocks		{ .widget( @red ); }

#events		{ .widget( @yellow ); }

#news		{ .widget( @blue ); }
