@import "color.less";
@import "size.less";
@import "font.less";

@import "slides.less";
@import "widgets.less";

body {
	background:			url('../img/bg.png');
	overflow:			hidden;
}

h1,h2,h3,h4,h5,h6 {
	display:			inline;
}

#flex-container {
	width:				100%;
	height:				100%;
	margin:				0;
	padding:			0;
	display:			-webkit-box;
	display:			-moz-box;
	display:			box;
	-webkit-box-pack:	center;
	-moz-box-pack:		center;
	box-pack:			center;
	-webkit-box-align:	center;
	-moz-box-align:		center;
	box-align:			center;
}

#title {
	top:				50%;
	left:				50%;
	margin-left:		-@slide-width/2;
	margin-top:			-@slide-height/2 - 150px;
	position:			absolute;
}

.panel( @horizontal-size ) {
	width:				@block-size * @horizontal-size + @block-spacing * ( @horizontal-size - 1 );
	height:				@block-size;
	margin:				@block-spacing / 2;
	float:				left;
}

.panel1	{ .panel( 1 ); }

.panel2	{ .panel( 2 ); }

.panel3	{ .panel( 3 ); }
