<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
      
      <title>Dashboard</title>
    </head>

    <body>
      <div id="wrapper">
	<div class="panel2" id="time">
	  <div class="icon"></div>
	  <div class="widget-content2">
	    <h1>8:15</h1></br>
	  <h2>Tuesday, Sept 4</h2>
	</div>
      </div>

      <!-- Weather Widget-->
      <div class="panel2" id="weather">
	<div class="icon"></div>
	<div id="current" class="widget-content2">
	  <h1 class="temp">N/A</h1>
	  <h2 class="description">Unavailable</h2>
      </div>
    </div>
    <!-- End Weather Widget-->

    <!-- Nextbus Widget -->
    <div class="panel2" id="nextbus">
      <div class="icon"></div>
      <div class="widget-content2">
	<h1><span class="next">N/A</span> min</h1>
      <h2><span class="second">N/A</span>
      min <span class="third">N/A</span> min</h2>
    </div>
  </div>
    <!-- End Nextbus Widget-->
  
  <div class="panel1" id="stocks">
    
  </div>
  <div class="panel3" id="events">
    <div class="icon"></div>
    <div class="widget-content3">
      <h2>Exhibit: The Vanishing Glaciers of the Greater Himalaya Mountains</h2><br/>
      <h2>10:00am - 4:00pm N51</h2>
    </div>
  </div>
  <div class="panel2" id="news">
    <div class="icon"></div>
    <div class="widget-content2">
      <h2>Songwriter Hal David Dies at 91</h2>
    </div>
  </div>
  

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
  <script src="{{ STATIC_URL }}js/plugins.js"></script>
  <script src="{{ STATIC_URL }}js/main.js"></script>
    
  <!-- Widget related scripts -->
  <script src="{{ STATIC_URL }}js/nextbus.js"></script>
  <script src="{{ STATIC_URL }}js/weather.js"></script>
  <script src="{{ STATIC_URL }}js/events.js"></script>
  <!-- End widget related scripts -->
    
    </body>
  </html>
