<div class="slide" id="landing-slide">
	<!-- Clock Widget -->
	<div class="panel2" id="time">
		<div class="icon">
			<div id="clock">
			</div>
		</div>
		<div class="widget-content2">
			<h1>N/A</h1></br>
			<h2>N/A</h2>
		</div>
	</div>
	<!-- End Clock Widget -->

	<!-- Weather Widget-->
	<div class="panel2" id="weather">
		<div class="icon">
			<img src="{{ STATIC_URL }}img/no_icon.png"></img>
		</div>
		<div class="widget-content2">
			<h1 class="temp">N/A</h1><br />
			<h2 class="description">Unavailable</h2>
		</div>
	</div>
	<!-- End Weather Widget-->

	<!-- Nextbus Widget -->
	<div class="panel2" id="nextbus">
		<div class="icon">
			<img src="{{ STATIC_URL }}img/bus.png"></img>
		</div>
		<div class="widget-content2">
			<h1 class="next">N/A</h1><br />
			<h2><span class="second">N/A</span> <span class="third">N/A</span></h2>
		</div>
	</div>
	<!-- End Nextbus Widget-->

	<!-- Events Widget -->
	<div class="panel3" id="events">
		<div class="icon">
			<img src="{{ STATIC_URL }}img/events.png"></img>
		</div>
		<div class="widget-content3">
			<h2 class="title">Unavailable</h2><br/>
			<h2 class="time">N/A</h2>
		</div>
	</div>
	<!-- End Events Widget -->

	<!-- News Widget -->
	<div class="panel3" id="news">
		<div class="icon">
			<img src="{{ STATIC_URL }}img/BBC.png"></img>
		</div>
		<div class="widget-content3">
			<h2 class="title">Unavailable</h2>
		</div>
	</div>
	<!-- End News Widget -->

</div>